@model SearchingSortingPagination.Models.Trainer
@using SearchingSortingPagination.Utilities;

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trainer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HireDate):
        </dt>

        <dd>
            @if (Model.HireDate != null)
            {
                <text>@Converter.RemoveNull(Model.HireDate).ToString("d")</text>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isAvailable):
        </dt>

        <dd>
            @if (Model.isAvailable)
            {
                <div class="col-lg-1 glyphicon glyphicon-ok"></div>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categories):
        </dt>

        
        <dd>
            <ul style="list-style-type:none">
                @foreach (var item in Model.Categories)
                {
                <li>
                    @Html.ActionLink(item.Kind, "CategoryDetails", new { id = item.CategoryId })
                </li>
                }
            </ul>
        </dd>
        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TrainerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
